<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Classique</title>
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="Logo">
        </div>
        <a href="" class="Btn">
            Accueil
        </a>
        <div class="titre">
            <h1>Sushi Fast</h1>
        </div>
        <div class="panier">
            <a routerLink="panier" routerLinkActive="active"><img src="../../../assets/img/panier.png" alt="Panier"></a>
        </div>
    </header>
</body>

</html>