<form class="form">
    <div class="title"><span>Politique de confidentialité</span></div>
    <div class="content center-text">
        <p><span>Nous respectons votre vie privée et nous nous engageons à protéger vos informations personnelles. Cette
                politique de confidentialité explique comment nous collectons, utilisons et protégeons vos
                données.</span></p>
        <div class="title">
            <p><span>Collecte d'informations</span></p>
        </div>
        <p><span>Nous collectons des informations limitées lorsque vous visitez notre site web, telles que votre adresse
                IP et les pages que vous consultez.</span></p>
        <div class="title">
            <p><span>Utilisation des informations</span></p>
        </div>
        <p><span>Nous utilisons vos informations pour améliorer notre site web et personnaliser votre expérience
                utilisateur.</span></p>
        <div class="title">
            <p><span>Partage d'informations</span></p>
        </div>
        <p><span>Nous ne partageons pas vos informations personnelles avec des tiers, sauf si nécessaire pour répondre à
                des demandes spécifiques ou lorsque requis par la loi.</span></p>
        <div class="title">
            <p><span>Cookies</span></p>
        </div>
        <p><span>Nous utilisons des cookies pour améliorer votre expérience en ligne. Vous pouvez les désactiver dans
                les paramètres de votre navigateur.</span></p>
        <div class="title">
            <p><span>Consentement</span></p>
        </div>
        <p><span>En utilisant notre site web, vous consentez à notre politique de confidentialité.</span></p>
    </div>
</form>